<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>EXPRESS JS WORKSHOP</title>
        <link
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="public/css/adminPremium.css" />
    </head>
    <body>
        <div class="container">
            <nav>
                <img src="../public/logoWhiteFinal.png" width="290px" />
            </nav>
            <main>
                <h1>YOUR PREMIUM ACCOUNT AT dynaskills®</h1>
                <div class="intro">
                    <h4>Hello
                        <span style="font-weight: bold;">
                            dynaskills® Team,
                        </span></h4>
                    <h4>New premium account has been created successully.</h4>
                </div>
                <div class="data">
                    <div class="data-body">
                        <div class="left">
                            <h2>Details</h2>
                            <h5>User Name :
                                <span
                                    style="font-weight: lighter;"
                                >{{newUserName}}New user name</span>
                            </h5>
                            <h5>Email :
                                <span
                                    style="font-weight: lighter;"
                                >User@gmail.com {{newUserEmail}}</span>
                            </h5>
                        </div>
                        <div class="right">
                            <h2>Payement Details</h2>
                            <h5>Payment status :
                                <span
                                    style="font-weight: lighter;"
                                >{{paymentStatus}}Sucess</span>
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="regards">
                    <h4>Best regards,</h4>
                    <h2>dynaskills® Team</h2>
                </div>
            </main>
            <footer>
                <h3>dynaskills LLC</h3>
                <div>
                    <img src="../public/logoWhiteFinal.png" width="290px" />
                </div>
            </footer>
            <p class="copyright">Copyright© 2023 All rights reserved to
                dynaskills LLC</p>
        </div>
    </body>
</html>