<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>EXPRESS JS WORKSHOP</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    style="
      line-height: 1.6;
      font-family: Inter, Tahoma, Geneva, Verdana, sans-serif;
      padding: 0;
    "
  >
    <div
      style="
        max-width: 650px;
        min-height: 600px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
      "
    >
      <div
        style="
          background-color: #011e77;
          width: 100%;
          min-height: 100px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 15px 0px;
        "
      >
        <div>
          <img
            src="https://res.cloudinary.com/dc8u6ydtu/image/upload/v1675031636/uploads/krjhhdrejapnkqljiauy.png"
            width="290px"
          />
        </div>
      </div>

      <main style="width: 82%; margin: auto; padding: 35px; color: #011e77">
        <div style="padding: 25px">
          <img
            src="https://res.cloudinary.com/dc8u6ydtu/image/upload/v1675031635/uploads/yww5ugexbuoi59xu52tw.png"
            width="170px"
          />
          <h1 style="color: #011e77; font-size: 1.15em; font-weight: bold">
            Your Reservation at Workshop
          </h1>
          <h4 style="font-weight: lighter">Angestellte Schweiz member</h4>
        </div>
        <div>
          <h4 style="font-weight: lighter">
            Hello <span style="font-weight: bold"> dynaskills® Team, </span>
          </h4>
          <h4 style="font-weight: lighter">
            New reservation has been created successully.
          </h4>
        </div>
        <div style="margin-bottom: 2.5rem">
          <div>
            <div>
              <h2
                style="
                  color: #011e77;
                  font-size: 1.15em;
                  font-weight: bold;
                  margin-bottom: 30px;
                "
              >
                Candidate Details
              </h2>
              <h5
                style="
                  color: #011e77;
                  font-size: 1.15em;
                  font-weight: bold;
                  margin-bottom: 0.5rem;
                  margin-top: 0;
                "
              >
                Full Name :
                <span style="font-weight: lighter">{{fullName}}</span>
              </h5>
              <h5
                style="
                  color: #011e77;
                  font-size: 1.15em;
                  font-weight: bold;
                  margin-bottom: 0.5rem;
                  margin-top: 0;
                "
              >
                Email :
                <span style="font-weight: lighter">{{email}}</span>
              </h5>
              <h5
                style="
                  color: #011e77;
                  font-size: 1.15em;
                  font-weight: bold;
                  margin-bottom: 0.5rem;
                  margin-top: 0;
                "
              >
                Phone :
                <span style="font-weight: lighter"> {{phone}}</span>
              </h5>
            </div>
            <div>
              <h2
                style="
                  color: #011e77;
                  font-size: 1.15em;
                  font-weight: bold;
                  margin-bottom: 30px;
                "
              >
                Reservation Details
              </h2>
              <h5
                style="
                  color: #011e77;
                  font-size: 1.15em;
                  font-weight: bold;
                  margin-bottom: 0.5rem;
                  margin-top: 0;
                "
              >
                Date :
                <span style="font-weight: lighter">{{savedDate}}</span>
              </h5>
              <h5
                style="
                  color: #011e77;
                  font-size: 1.15em;
                  font-weight: bold;
                  margin-bottom: 0.5rem;
                  margin-top: 0;
                "
              >
                Hour :
                <span style="font-weight: lighter">{{savedHour}} </span>
              </h5>
            </div>
          </div>
        </div>
        <div>
          <h2
            style="
              color: #011e77;
              font-size: 1.15em;
              font-weight: bold;
              margin-bottom: 30px;
            "
          >
            Specific need :
          </h2>
          <p>{{needs}}</p>
        </div>
        <div>
          <h4 style="font-weight: lighter">Best regards,</h4>
          <h2
            style="
              color: #011e77;
              font-size: 1.15em;
              font-weight: bold;
              margin-bottom: 30px;
            "
          >
            power4jobs
          </h2>
        </div>
      </main>
      <footer
        style="
          width: 100%;
          min-height: 100px;
          background-color: #011e77;
          color: white;
          padding: 20px 10px;
        "
      >
        <div>
          <img
            src="https://res.cloudinary.com/dc8u6ydtu/image/upload/v1675031636/uploads/krjhhdrejapnkqljiauy.png"
            width="290px"
          />
        </div>
        <h3>dynaskills LLC</h3>
      </footer>
      <p style="text-align: center; color: #011e77">
        Copyright© 2023 All rights reserved to dynaskills LLC
      </p>
    </div>
  </body>
</html>
