<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head style="box-sizing: border-box; font-family: Inter, sans-serif">
    <meta
      charset="UTF-8"
      style="box-sizing: border-box; font-family: Inter, sans-serif"
    />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1"
      style="box-sizing: border-box; font-family: Inter, sans-serif"
    />
    <meta
      http-equiv="X-UA-Compatible"
      content="ie=edge"
      style="box-sizing: border-box; font-family: Inter, sans-serif"
    />
    <title style="box-sizing: border-box; font-family: Inter, sans-serif">
      EXPRESS JS WORKSHOP
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    style="
      box-sizing: border-box;
      font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
      line-height: 1.6;
      padding: 0;
    "
  >
    <style
      style="box-sizing: border-box; font-family: Inter, sans-serif"
    ></style>
    <div
      class="container"
      style="
        box-sizing: border-box;
        font-family: Inter, sans-serif;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        min-height: 600px;
        padding: 0;
      "
    >
      <div
        style="
          background-color: #011e77;
          box-sizing: border-box;
          font-family: Inter, sans-serif;
          min-height: 100px;
          padding: 15px 0;
          width: 100%;
        "
      >
        <img
          src="https://res.cloudinary.com/dc8u6ydtu/image/upload/v1675031636/uploads/krjhhdrejapnkqljiauy.png"
          width="290px"
          style="box-sizing: border-box; font-family: Inter, sans-serif"
        />
      </div>
      <main
        style="
          box-sizing: border-box;
          color: #011e77;
          font-family: Inter, sans-serif;
          margin: auto;
          padding: 35px;
          width: 82%;
        "
      >
        <h1
          style="
            box-sizing: border-box;
            color: #011e77;
            font-family: Inter, sans-serif;
            font-size: 1.55em;
            font-weight: 700;
          "
        >
          YOUR PREMIUM ACCOUNT AT dynaskills®
        </h1>
        <div
          class="intro"
          style="
            box-sizing: border-box;
            font-family: Inter, sans-serif;
            margin: 50px 0;
          "
        >
          <h4
            style="
              box-sizing: border-box;
              font-family: Inter, sans-serif;
              font-weight: 700;
            "
          >
            Hello
            <span
              style="
                box-sizing: border-box;
                font-family: Inter, sans-serif;
                font-weight: 900;
              "
              >{{fullName}} ,
            </span>
          </h4>
          <h4
            style="
              box-sizing: border-box;
              font-family: Inter, sans-serif;
              font-weight: 700;
            "
          >
            New premium account has been created successully.
          </h4>
          <h4
            style="
              box-sizing: border-box;
              font-family: Inter, sans-serif;
              font-weight: 700;
            "
          >
            Please activate your account by clicking on this
            <a
              href="#"
              style="box-sizing: border-box; font-family: Inter, sans-serif"
              >link</a
            >.
          </h4>
          <h2
            style="
              box-sizing: border-box;
              color: #011e77;
              font-family: Inter, sans-serif;
              font-size: 1.15em;
              font-weight: 700;
              margin-bottom: 30px;
            "
          >
            To authenticate, please use the same informations of the basic
            Version.
          </h2>
        </div>
        <div
          class="regards"
          style="box-sizing: border-box; font-family: Inter, sans-serif"
        >
          <h4
            style="
              box-sizing: border-box;
              font-family: Inter, sans-serif;
              font-weight: 700;
            "
          >
            Best regards,
          </h4>
          <h2
            style="
              box-sizing: border-box;
              color: #011e77;
              font-family: Inter, sans-serif;
              font-size: 1.15em;
              font-weight: 700;
              margin-bottom: 30px;
            "
          >
            dynaskills® Team
          </h2>
        </div>
      </main>
      <footer
        style="
          background-color: #011e77;
          box-sizing: border-box;
          color: #fff;
          font-family: Inter, sans-serif;
          min-height: 100px;
          padding: 20px 10px;
          width: 100%;
        "
      >
        <div style="box-sizing: border-box; font-family: Inter, sans-serif">
          <img
            src="https://res.cloudinary.com/dc8u6ydtu/image/upload/v1675031636/uploads/krjhhdrejapnkqljiauy.png"
            width="290px"
            style="box-sizing: border-box; font-family: Inter, sans-serif"
          />
        </div>
        <h3 style="box-sizing: border-box; font-family: Inter, sans-serif">
          dynaskills LLC
        </h3>
      </footer>
      <p
        class="copyright"
        style="
          box-sizing: border-box;
          color: #011e77;
          font-family: Inter, sans-serif;
          text-align: center;
        "
      >
        Copyright© 2023 All rights reserved to dynaskills LLC
      </p>
    </div>
  </body>
</html>
